{% extends "main.html" %}

{% block maincontent %}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1 id="forms">Reset password</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="well bs-component">

          <form class="form-horizontal" action="/password" method="POST">
            <fieldset>
                <legend>Password</legend>
                <div class="form-group">
                    <label for="password" class="col-lg-4 control-label">Password</label>
                    <div class="col-lg-6">
                      <input type="password" class="form-control" id="password" name="password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm_password" class="col-lg-4 control-label">Confirm</label>
                    <div class="col-lg-6">
                      <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                    </div>
                </div>

                <div class="form-group">
                   <div class="col-lg-6 col-lg-offset-4">
                       <button type="reset" class="btn btn-default">Cancel</button>
                       <button type="submit" class="btn btn-primary">Update password</button>
                   </div>
                </div>

                <input type="hidden" name="t" value="{{ token }}" />

          </fieldset>
        </form>
    </div>
  </div>
</div>

{% endblock %}
